@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Nunito+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor--primaria: #E7F0DC;
    --cor--secundaria: #597445;
    --cor--terciaria: #658147;
    --cor--hover: #729762;

    --font--primaria: 'Raleway', 'sans-serify';
    --font--secundaria: 'Nunito Sans', 'sans-serify';
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor--primaria);
    color: var(--cor--secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 85px;
}

.cabecalho__menu__link {
    font-family: var(--font--secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor--terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__sobre-mim {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__sobre-mim__titulo {
    font-size: 2.25rem;
    font-family: var(--font--primaria);
}

.apresentacao__sobre-mim__paragrafo {
    font-size: 1.5rem;
    font-family: var(--font--secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font--primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 15px;
    border: 2px solid var(--cor--terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor--primaria);
    font-family: var(--font--secundaria);
    background-color: var(--cor--hover);
}

.apresentacao__imagem {
    width: 40%;
}

.rodape {
    padding: 24px;
    color: var(--cor--primaria);
    background-color: var(--cor--terciaria);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font--primaria);
    font-weight: 400;
}

@media (max-width: 1000px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%
    }

     .apresentacao__sobre-mim {
        width: 100%;
    }
}